/* You can add global styles to this file, and also import other style files */
.header{
	background: linear-gradient(122deg, #46A685 0%, #15A44F 100%) 0% 0% no-repeat padding-box;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #ffffff;
	font-weight: bold;
	font-size: 120%;
}
.header a{
	text-decoration: none;
	color: #ffffff;
}
.btn-dsoares{
	background: transparent linear-gradient(180deg, #FFFFFF 0%, #DBFFEF 100%) 0% 0% no-repeat padding-box;
	font-weight: bold;
	border-radius: 39px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 5px 2px 6px #00000029;
}

.form-container{
	width: 300px;
	margin: auto;
}
.form-container label{
	margin-top: 30px;
	font-weight: bold;
}
.form-container input{
	border-radius: 15px;
}

.data-table{
	/* text-align: center; */
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.data-table .row{
	margin-top: 5px;
	margin-bottom: 5px;
}
.data-header{
	font-weight: bolder;
	font-size: 110%;
}
.icon-col{
	text-align: right;
	font-size: 150%;
}
.icon-col span{
	margin-left:10px;
	cursor: pointer;
}
.pagination{
	display: table;
  	margin: 0 auto;
}
.filtro{
	margin-top: 50px;
	text-align: center;
}
.filtro span{
	font-size: 130%;
	font-weight: bold;
}

.filtro input{
	height: 40px;
	border-radius: 10px;
	width:200px;
	border-style: solid;
	margin-left: 10px;
	outline: none;
}
.ngx-pagination .current{
	background-color: #15A44F !important;
	color: #FFFFFF !important;
}
.ngx-pagination .current span{
	color: #FFFFFF !important;
}
.ngx-pagination .pagination-next{
	border-style: none !important;
}
.ngx-pagination .pagination-previous{
	border-style: none !important;
}
.ngx-pagination li{
	border-radius: 5px !important;
	border-color: #15A44F !important;
	border-style: solid !important;
	color: #15A44F !important;
}
.ngx-pagination li span{
	color: #15A44F !important;
}
.ngx-pagination{
	font-size: 130% !important;
}
