<div class="bg">

	<div class="flex-container">
		<div class="form-container col-10 col-sm-8 col-md-4 col-lg-3">
			<label>Acesse sua conta</label>
			<input type="email" class="form-control form-login" aria-describedby="emailHelp" [(ngModel)]="email" placeholder="Email">
			<input type="password" class="form-control form-login" aria-describedby="emailHelp" [(ngModel)]="senha" (keyup.enter)="login()" placeholder="Senha">

			<button type="button" class="btn-login" (click)="login()">
				<i class="fas fa-sign-in-alt"></i> Entrar
			</button>
			<div class="esqueci-senha">
				<span (click)="esqueciSenha()">
					Esqueci a senha
				</span>
			</div>

		</div>
	</div>
</div>
