/* You can add global styles to this file, and also import other style files */
/* body{
	background-color: red;
} */
.bg{
	background: linear-gradient(122deg, #46A685 0%, #15A44F 100%) 0% 0% no-repeat padding-box;
	height: 100vh;
	margin-left: -15px !important;
	margin-right: -15px !important;
	padding-top: 20vh;
}

label{
	font-size: 110%;
	font-weight: bold;
}

.form-login{
	margin-top: 20px;
}

.btn-login{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 2px solid #15A44F;
	color: #15A44F;
	border-radius: 41px;
	width: 100%;
	height: 45px;
	margin-top: 20px;
}
.form-container{
	text-align: center;
	background-color: #ffffff;
	border-radius: 15px;
	padding: 30px;
	align-self: center;
	margin: auto;
}

.form-button{
	width: 100%;
}

.esqueci-senha{
	text-decoration: underline;

	color: blue;
	margin-top: 15px;
}

.esqueci-senha > span{
	cursor: pointer;
}
