<div class="row header">
	<div class="col-1 my-auto" style="text-align:right">
		<a routerLink="/sondagens"><i class="fas fa-chevron-left"></i></a>
	</div>
	<div class="col-11 my-auto">
		Cadastro de Unidades
	</div>
</div>
<div class="form-container">
	<label>Nome</label>
	<input type="text" class="form-control" [(ngModel)]="novaUnidade.nome">
	<label>CNPJ</label>
	<input type="text" class="form-control" [(ngModel)]="novaUnidade.cnpj" mask="00.000.000/0000-00">
	<button type="button" class="form-control btn btn-dsoares" (click)="inserir()" style="margin-top:50px"><i class="fa fa-plus"></i> Adicionar Unidade</button>
</div>

<div class="filtro">
	<span>Filtro</span><input type="text" [(ngModel)]="filter">
</div>
<div class="data-table" style="	max-width: 40%;">
	<div class="row data-header">
		<div class="col-4"> Nome </div>
		<div class="col-4"> CNPJ </div>
	</div>
	<div class="row" *ngFor="let unidade of unidades | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">

		<div class="col-4 my-auto">
			<span *ngIf="unidadeEditada.id != unidade.id">{{unidade.nome}}</span>
			<input *ngIf="unidadeEditada.id == unidade.id" [(ngModel)]="unidadeEditada.nome" type="text" class="form-control">
		</div>

		<div class="col-4 my-auto">
			<span *ngIf="unidadeEditada.id != unidade.id">{{unidade.cnpj | mask: '00.000.000/0000-00'}}</span>
			<input *ngIf="unidadeEditada.id == unidade.id" [(ngModel)]="unidadeEditada.cnpj" type="text" mask="00.000.000/0000-00" class="form-control">
		</div>

		<div class="col-4 icon-col">
			<span *ngIf="unidadeEditada.id != unidade.id" (click)="editar(unidade)"><i class="fas fa-edit"></i> </span>
			<span *ngIf="unidadeEditada.id == unidade.id" (click)="atualizar(unidade)"><i class="fas fa-save"></i> </span>
			<span *ngIf="unidadeEditada.id != unidade.id" (click)="delete(unidade)"> <i class="fas fa-trash-alt"></i> </span>
			<span *ngIf="unidadeEditada.id == unidade.id" (click)="cancel()"><i class="fas fa-times"></i> </span>
		</div>

	</div>
	<div class="pagination">
		<pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
	</div>
</div>
