<div class="row header">
	<div class="col-1 my-auto" style="text-align:right">
		<a routerLink="/sondagens"><i class="fas fa-chevron-left"></i></a>
	</div>
	<div class="col-11 my-auto">
		Cadastro de Sondadores
	</div>
</div>
<div class="form-container">
	<label>Nome</label>
	<input type="text" class="form-control" [(ngModel)]="novoSondador.nome">
	<label>Email</label>
	<input type="email" class="form-control" [(ngModel)]="novoSondador.email">
	<label>Unidade</label>
	<select class="form-control" name="" [(ngModel)]="novoSondador.unidade_id">
		<option *ngFor="let unidade of unidades" value="{{unidade.id}}">{{unidade.nome}}</option>
	</select>
	<label>Senha</label>
	<input type="password" class="form-control" [(ngModel)]="novoSondador.senha">
	<button type="button" class="form-control btn btn-dsoares" (click)="inserir()" style="margin-top:50px"><i class="fa fa-plus"></i> Adicionar Sondador</button>
</div>

<div class="filtro">
	<span>Filtro</span><input type="text" [(ngModel)]="filter">
</div>
<div class="data-table" style="	max-width: 90%;">
	<div class="row data-header">
		<div class="offset-1 col-2"> Nome </div>
		<div class="col-2"> Email </div>
		<div class="col-2"> Unidade </div>

	</div>
	<div class="row" style="margin-top:10px;" *ngFor="let sondador of sondadores | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">

		<div class="offset-1 col-2 my-auto">
			<span *ngIf="sondadorEditado.id != sondador.id">{{sondador.nome}}</span>
			<input *ngIf="sondadorEditado.id == sondador.id" [(ngModel)]="sondadorEditado.nome" type="text" class="form-control">
		</div>

		<div class="col-2 my-auto">
			<span *ngIf="sondadorEditado.id != sondador.id">{{sondador.email}}</span>
			<input *ngIf="sondadorEditado.id == sondador.id" [(ngModel)]="sondadorEditado.email" type="text" class="form-control">
		</div>
		<div class="col-2 my-auto">
			<span *ngIf="sondadorEditado.id != sondador.id">{{sondador.unidade_nome}}</span>
			<select *ngIf="sondadorEditado.id == sondador.id" [(ngModel)]="sondadorEditado.unidade_id" class="form-control">
				<option *ngFor = "let unidade of unidades" value="{{unidade.id}}">{{unidade.nome}}</option>
			</select>
		</div>
		<div class="col-3 my-auto">
			<button type="button" class="form-control btn btn-dsoares" (click)="novaSenha(sondador)" >
				Redefinir Senha
			</button>
		</div>


		<div class="col-1 icon-col">
			<span *ngIf="sondadorEditado.id != sondador.id" (click)="editar(sondador)"><i class="fas fa-edit"></i> </span>
			<span *ngIf="sondadorEditado.id == sondador.id" (click)="atualizar(sondador)"><i class="fas fa-save"></i> </span>
			<span *ngIf="sondadorEditado.id != sondador.id" (click)="delete(sondador)"> <i class="fas fa-trash-alt"></i> </span>
			<span *ngIf="sondadorEditado.id == sondador.id" (click)="cancel()"><i class="fas fa-times"></i> </span>
		</div>

	</div>
	<div class="pagination">
		<pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
	</div>
</div>
