<div class="row header">
	<div class="col-1 my-auto" style="text-align:right">
		<a routerLink="/sondagens"><i class="fas fa-chevron-left"></i></a>
	</div>
	<div class="col-11 my-auto">
		Cadastro de Clientes
	</div>
</div>
<div class="form-container">
	<label>Nome</label>
	<input type="text" class="form-control" [(ngModel)]="novoCliente.nome">
	<button type="button" class="form-control btn btn-dsoares" (click)="inserir()" style="margin-top:50px"><i class="fa fa-plus"></i> Adicionar Cliente</button>
</div>

<div class="filtro">
	<span>Filtro</span><input type="text" [(ngModel)]="filter">
</div>
<div class="data-table" style="	max-width: 30%;">
	<div class="row data-header">
		<div class="col-8"> Nome </div>
	</div>
	<div class="row" *ngFor="let cliente of clientes | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">

		<div class="col-8 my-auto">
			<span *ngIf="clienteEditado.id != cliente.id">{{cliente.nome}}</span>
			<input *ngIf="clienteEditado.id == cliente.id" [(ngModel)]="clienteEditado.nome" type="text" class="form-control">
		</div>


		<div class="col-4 icon-col">
			<span *ngIf="clienteEditado.id != cliente.id" (click)="editar(cliente)"><i class="fas fa-edit"></i> </span>
			<span *ngIf="clienteEditado.id == cliente.id" (click)="atualizar(cliente)"><i class="fas fa-save"></i> </span>
			<span *ngIf="clienteEditado.id != cliente.id" (click)="delete(cliente)"> <i class="fas fa-trash-alt"></i> </span>
			<span *ngIf="clienteEditado.id == cliente.id" (click)="cancel()"><i class="fas fa-times"></i> </span>
		</div>

	</div>
	<div class="pagination">
		<pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
	</div>
</div>
