<div class="row header">
	<div class="col-1 my-auto" style="text-align:right">
		<a routerLink="/sondagens"><i class="fas fa-chevron-left"></i></a>
	</div>
	<div class="col-11 my-auto">
		Informações da Conta
	</div>
</div>
<div class="form-container">
	<form class='thumb-container'>
		<img class="rounded-circle user-photo-thumbnail" [src]="image64" id="thumbnail" #thumbnail onclick="imagePicker.click();" style="cursor:pointer">
		<input type="file" class="form-control-file gc-input" id="imagePicker" (change)="fotoSelecionada($event)" style="display:none">
	</form>
	<label>Nome</label>
	<input type="text" class="form-control" [(ngModel)]="usuario.nome">
	<button type="button" class="form-control btn btn-dsoares" (click)="atualizar()" style="margin-top:50px"><i class="far fa-save"></i> Salvar</button>
</div>
