<div class="row header">
	<div class="col-1 my-auto" style="text-align:right">
		<a routerLink="/sondagens"><i class="fas fa-chevron-left"></i></a>
	</div>
	<div class="col-11 my-auto">
		Redefinir Senha
	</div>
</div>
<div class="form-container">
	<label>Senha</label>
	<input type="password" class="form-control" [(ngModel)]="senha">
	<label>Nova Senha</label>
	<input type="password" class="form-control" [(ngModel)]="novaSenha">
	<label>Confirme a Senha</label>
	<input type="password" class="form-control" [(ngModel)]="novaSenha2">
	<button type="button" class="form-control btn btn-dsoares" (click)="atualizar()" style="margin-top:50px"><i class="far fa-save"></i> Salvar</button>
</div>
