<div class="row header">
	<div class="col-2 my-auto" style="text-align:right">
		Filtro
	</div>
	<div class="col-2 my-auto">
		<div class="input-group">
			<!-- input box -->
			<input class="form-control" placeholder="Escolha o início"
				 angular-mydatepicker #dpInicio="angular-mydatepicker"
				 [(ngModel)]="dateModelInicio" [options]="myDpOptions"/>

			<!-- clear date button -->
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary" *ngIf="dateModelInicio" (click)="dpInicio.clearDate()">
					<i class="fas fa-times"></i>
				</button>
			</div>

			<!-- toggle calendar button -->
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary" (click)="dpInicio.toggleCalendar()">
					<i class="far fa-calendar-alt"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="col-2 my-auto">
		<div class="input-group">
			<!-- input box -->
			<input class="form-control" placeholder="Escolha o fim"
				 angular-mydatepicker #dpFim="angular-mydatepicker"
				 [(ngModel)]="dateModelFim" [options]="myDpOptions"/>

			<!-- clear date button -->
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary" *ngIf="dateModelFim" (click)="dpFim.clearDate()">
					<i class="fas fa-times"></i>
				</button>
			</div>

			<!-- toggle calendar button -->
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary" (click)="dpFim.toggleCalendar()">
					<i class="far fa-calendar-alt"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="col-2 my-auto">
		<button type="button" class="btn btn-dsoares" (click)="filtrar()">
			<i class="fas fa-filter"></i> Filtrar
		</button>
	</div>
	<div class="col-2 nome-col my-auto" (click)="openPerfil()">
		{{usuario.nome}}
	</div>
	<div class="col-1 thumb-col my-auto">
		<img class="rounded-circle user-photo-thumbnail" [src]="image64" (click)="openPerfil()">
	</div>
	<div class="col-1 menu-col my-auto" (click)="openMenu()">
		<span><i class="fas fa-bars"></i></span>
	</div>
</div>

<div class="grid-sondagens">
	<div class="row">
		<div class="col-2 grid-header"><span> Cliente </span></div>
		<div class="col-2 grid-header"><span> Unidades </span></div>
		<div class="col-3 grid-header"><span> Obra </span></div>
		<div class="col-3 grid-header"><span> Local </span></div>
		<div class="col-2 grid-header"><span> </span></div>
	</div>

	<div class="row" *ngFor="let sondagem of sondagens">
		<div class="col-2"><span> {{sondagem.cliente.nome}} </span></div>
		<div class="col-2"><span> {{sondagem.unidade.nome}} </span></div>
		<div class="col-3">
			<span> {{sondagem.obra.nome}} </span>
			<span class="edit-sondagem"><i class="fas fa-edit"></i></span>
		</div>
		<div class="col-3"><span> {{sondagem.local}} </span></div>
		<div class="col-2">
			<button type="button" class="btn btn-dsoares" (click)="filtrar()">
				<i class="far fa-file-alt"></i> Gerar
			</button>
		</div>
	</div>
</div>
<div class="sondagem-paginacao">
	<span><i class="fas fa-chevron-left"></i></span>
	<span *ngFor="let pagina of paginas" (click)="updatePage(pagina)" [ngClass]="{'pagina': true, 'pagina-atual': pagina == paginaAtual}"> {{pagina}} </span>
	<span><i class="fas fa-chevron-right"></i></span>
</div>



<div id="sidemenu-perfil" class="sidemenu">
	<div class="close-button">
		<span (click)="closePerfil()" style="cursor:pointer"><i class="fas fa-times"></i></span>
	</div>
	<div class="sidemenu-container">
		<img class="rounded-circle user-photo-thumbnail-big" [src]="image64">
		<div class="menu-nome">
			{{usuario.nome}}
		</div>
	</div>
	<div class="sidemenu-container bottom-sidemenu">
		<div><span style="cursor: pointer" (click)="navigate('/conta')"><i class="fas fa-edit"></i> Editar Informações </span></div>
		<div><span style="cursor: pointer" (click)="navigate('/redefinir-senha')"><i class="fas fa-lock"></i> Redefinir Senha </span></div>
		<div><span style="cursor: pointer" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sair </span></div>
	</div>
</div>

<div id="sidemenu-menu" class="sidemenu">
	<div class="close-button">
		<span (click)="closeMenu()" style="cursor:pointer"><i class="fas fa-times"></i></span>
	</div>
	<div class="link" (click)="navigate('/unidades')"><i class="fas fa-home"></i> Unidades</div>
	<div class="link" (click)="navigate('/clientes')"><i class="fas fa-user"></i> Clientes	</div>
	<div class="link" (click)="navigate('/obras')"> <i class="fas fa-file-alt"></i> Obras </div>
	<div class="link" (click)="navigate('/sondadores')"> <i class="fas fa-concierge-bell"></i> Sondadores </div>
	<div class="link" (click)="navigate('/furos')"><i class="far fa-circle"></i> Furos </div>
</div>
