.user-photo-thumbnail{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border-width: 2px;
	border-style: solid;

}

.user-photo-thumbnail-big{
	width: 150px;
	height: 150px;
	border-radius: 150px;
}

.thumb-col{
	margin-top: -10px;
	margin-bottom: -10px;
}

.nome-col{
	text-align:right;
	border-left: 2px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-style: solid;
}

.menu-col{
	font-size: 200%;
}

.link{
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
}
.link:hover{
	text-decoration: underline;
}

.sidemenu {
	top: 90px; /* altura do cabecalho */
	height: calc(100% - 90px);
	min-width: 250px;
	position: fixed;
	z-index: 9;
	right: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	transition: 0.5s;
	padding: 15px;
	transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidemenu-view{
	-webkit-box-shadow: -10px 0 10px -2px #D1D1D1;
	box-shadow: -10px 0 10px -2px #D1D1D1;
    transform: translateX(0);
}

#sidemenu-menu{
	padding-left: 30px;
}


.close-button{
	width: inherit;
	text-align: right;
}
.sidemenu-container{
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	height: 80%;
}
.bottom-sidemenu{
	height: auto;
}

.menu-nome{
	margin-top: 10px;
	font-weight: bold;
}

.menu-editar{
	margin-bottom: 0px;
}

.grid-sondagens{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.grid-header{
	font-weight: bold;
}

.edit-sondagem{
	float: right;
	cursor: pointer;
}

.sondagem-paginacao{
	text-align: center;
}

.pagina{
	
}
.pagina-atual{
	font-weight: bold;
}
