.toast {
    opacity: 1 !important;
}

/* montserrat-100 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/montserrat-v14-latin-100.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Thin'), local('Montserrat-Thin'),
		 url('../fonts/montserrat-v14-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-100.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-200 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/montserrat-v14-latin-200.eot'); /* IE9 Compat Modes */
	src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
		 url('../fonts/montserrat-v14-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-200.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-100italic - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 100;
	src: url('../fonts/montserrat-v14-latin-100italic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
		 url('../fonts/montserrat-v14-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-100italic.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-100italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-200italic - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 200;
	src: url('../fonts/montserrat-v14-latin-200italic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
		 url('../fonts/montserrat-v14-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-200italic.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-200italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-300 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/montserrat-v14-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Light'), local('Montserrat-Light'),
		 url('../fonts/montserrat-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-300.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		 url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-300italic - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/montserrat-v14-latin-300italic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
		 url('../fonts/montserrat-v14-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-300italic.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-300italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-500 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/montserrat-v14-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		 url('../fonts/montserrat-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-500italic - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/montserrat-v14-latin-500italic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
		 url('../fonts/montserrat-v14-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-500italic.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-500italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-italic - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/montserrat-v14-latin-italic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Italic'), local('Montserrat-Italic'),
		 url('../fonts/montserrat-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-600 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		 url('../fonts/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-600italic - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/montserrat-v14-latin-600italic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
		 url('../fonts/montserrat-v14-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-600italic.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-600italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		 url('../fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700italic - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/montserrat-v14-latin-700italic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
		 url('../fonts/montserrat-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-700italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-800 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/montserrat-v14-latin-800.eot'); /* IE9 Compat Modes */
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		 url('../fonts/montserrat-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-800.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-800italic - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 800;
	src: url('../fonts/montserrat-v14-latin-800italic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
		 url('../fonts/montserrat-v14-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-800italic.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-800italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-900 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/montserrat-v14-latin-900.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Black'), local('Montserrat-Black'),
		 url('../fonts/montserrat-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-900.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-900italic - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 900;
	src: url('../fonts/montserrat-v14-latin-900italic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
		 url('../fonts/montserrat-v14-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/montserrat-v14-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/montserrat-v14-latin-900italic.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/montserrat-v14-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/montserrat-v14-latin-900italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
*{
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
}

.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_content {
	background-color: white;
    margin: 50% auto;
    padding: 20px;
    border-radius: 12px;
	width: 85%;
	text-align: center;
}

.modal_content_info{
	background-color: white;
    margin: 20% auto;
    padding: 5%;
    border-radius: 12px;
	width: 85%;
	position: relative;
}

.modal_content_info--large{
	margin: 5% auto;
}

.modal_text{
	font-size: 14px;
	text-align: center;
    padding: 4% 20% 3% 20%;
    font-weight: bold;
}

.modal_centerItem{
	text-align: center;
}

.modal_button{
	width: 75px;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 18px;
    position: relative;
    outline: none;
    border: solid 2px #ff115f;
    background-color: #ff115f;
}

.container{
	position: absolute;
	width: 100%;
    height: auto;
    background-image: url('../img/BG.png');
}

.container_box{
	height: 30%;
	margin: 35% 0 10% 0;
	background-color: white;
	border-radius: 10px;
	padding: 20px 13px;
}

.container_box--transparent{
	height: 30%;
	margin: 35% 0 10% 0;
	border-radius: 10px;
	padding: 20px 13px;
	background-color: transparent;
}

.container_box--large{
		height: 40%;
		margin: 10% 0 10% 0;
}

.container_box--small{
	height: 20%;
	margin: 10% 0 10% 0;
}

.container_box--flex{
	height: auto;
	margin: 0 auto;
    width: 90%;
}

.container_subBox--flex{
	height: auto;
	margin: 0 auto;
    width: 90%;
	border-radius: 10px;
}

.container_subBox_top{
	height: 40px;
	display: inline-flex;
    position: relative;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    background-color: #e9e9e9;
}

.container_subBox_line{
	border-top-right-radius: 10px;
	background-color:#00a543;
	height: 10px;
	display: flex;
    width: 100%;
}

.container_subBox_number{
	background-color: #00a543;
    color: white;
    height: 40px;
    width: 55px;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
}

.container_subBox_icon{
	position: absolute;
    display: flex;
    right: 10px;
    top: 15px;
    color: gray;
}

.container_subBox_icon--checked{
    color: #00a543;
}

.container_subBox{
    height: auto;
	margin: 0 0 5% 0;
    background-color: white;
	padding: 20px 13px;
	border-radius: 10px;
}

.container_box_item:not(:last-child) {
	margin-bottom: 20px;
}

.container_box_item_label{
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 5px;
}

.container_box_item-cols{
	width: 100%;
}

.container_box_item-cols_title{
	display: inline-flex;
    width: 100%;
}

.container_box_item-cols_title-1{
	width: 80%
}

.container_box_item-cols_line{
	list-style: none;
    margin-bottom: 7px;
}

.container_box_item-col1{
	width: 80%;
	position: relative;
}


.container_box_item-col2{
	width: 20%;
}

.col1--large{
	width: 75%;
	margin-right: 5%;
}

.col2--small{
	width: 25%;
}

.container_box_item-col2_btn{
	width: 100%;
	height: 35px;
    color: white;
    font-size: 18px;
    background-color: black;
    border-radius: 18px;
	border: solid 2px black;
	position: relative;
	outline:none;
}

.container_box_item-col2_btn--alternative{
	border: solid 2px #ff115f;
	background-color: #ff115f;
}

.container_box_item_group{
	position: relative;
}

.container_box_item_group_col1{
	position: relative;
    width: 73%;
    display: inline-block;
}

.container_box_item_group_col01{
	position: relative;
    width: 25%;
}

.container_box_item_group_col02{
	position: relative;
    width: 35%;
    display: inline-block;
}

.container_box_item_group_col03{
	position: relative;
    width: 35%;
    display: inline-block;
}
.container_box_item-col1 > div:not(:first-child){
	margin-top: 5px;
}

.container_box_item-col2 > div:not(:first-child){
	margin-top: 5px;
}

.container_box_item_group_col2{
	width: 25%;
    display: inline-block;
    position: relative;
}

.container_box_item_input{
	background-color: #e9e9e9;
    width: 85%;
    height: 35px;
    border-radius: 11px;
    border: none;
    padding-left: 3%;
    padding-right: 12%;
}


.container_box_item_input--large{
	background-color: #e9e9e9;
    width: 85%;
    height: 40px;
    border-radius: 13px;
    border: none;
    padding-left: 3%;
    padding-right: 12%;
}

.container_textArea{
	background-color: #e9e9e9;
    width: 90%;
    height: 35px;
    border-radius: 11px;
	border: none;
	padding: 5%;
}

.container_box_item_input_col2{
	background-color: #e9e9e9;
    width: 70%;
	height: 42px;
	outline: none;
    border-radius: 11px;
    border: none;
    padding-left: 20%;
    padding-right: 10%;
}

.container_box_item_input--small{
	width: 40%;
    padding-left: 5%;
}

.container_box_item_input--flex{
	background-color: #e9e9e9;
    width: 85%;
    border-radius: 11px;
    border: none;
    padding-left: 3%;
    padding-right: 12%;
}

.container_box_item_input_col1{
	width: 100% !important;
}

.container_box_item_icon {
	position: absolute;
    right: 10px;
    top: 10px;
}

.container_box_item_icon2 {
	position: absolute;
    right: 10px;
    top: 12px;
}


.container_box_item_icon--large {
	position: absolute;
    right: 10px;
    top: 13px;
}

.container_box_item_input:focus{
	outline: none;
	box-shadow: 0px 0px 0px 2px skyblue;
}

.container_button{
	padding: 3%;
}

.container_button_btn{
	width: 100%;
    height: 50px;
    color: white;
    font-size: 18px;
    background-color: transparent;
    border-radius: 18px;
	border: solid 2px white;
	position: relative;
}

.container_button_btn--modal{
	color: #00a543;
	border: solid 2px #00a543;

}

.container_button_btn:focus{
	outline: none;
}

.container_button_icon{
	margin-right: 10px;
}

.container_button_icon--final{
	position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
}

.container_title_space{
	margin-top: 10%;
	margin-bottom: 10%;
}

.container_title_smallSpace{
	margin-top: 5%;
	margin-bottom: 5%;
}

.container_title{
	font-style: italic;
    color: white;
    font-size: 20px;
    text-align: center;
}

.container_title--large{
    font-size: 22px;
    text-align: center;
}

.container_subtitle{
	font-weight: bold;
    color: white;
    text-align: center;
    font-size: 18px;
}

.primaryColor{
	color: #00a543;
}

.transparentColor{
	color:transparent;
}

.whiteColor{
	color:white;
}

.disabledColor{
	color: darkgray;
}

.blackColor{
	color: black;
}

.iconSize{
	font-size: 20px;
}

.iconSize--large{
	font-size: 30px;
}

.iconWidth{
	width: 50px !important;
	font-size: 24px !important;
	position: relative;
}

.iconWidth--large{
	width: 60px !important;
	font-size: 28px !important;
	position: relative;
}

.closeIcon{
	position: absolute;
    color: white;
    font-size: 12px;
    top: 5px;
	right: 5px;
    line-height: 0;
}

.closeIconImage{
	position: absolute;
    color: white;
    font-size: 12px;
	top: 2px;
    right: 3px;
    line-height: 0;
}

.closeIconColor{
	color:grey;
}

.centerIcon{
	display: flex;
	justify-content: center;
}

.centerIconBorder{
	width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 25px;
    justify-content: center;
}

.container_box_addFile{
	margin-left: 10px;
}

.container_box_addFileText1{
	text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
}

.container_box_addFileText2{
	font-size: 12px;
}

.container_box_inline{
	display: flex;
	align-items: center;
}

.container_box_itens{
	display: inline-flex;
    position: relative;
}

.container_box_itens--flex{
	width: 100%;
}

.container_box_itens_checkbox{
	height: 25px;
    display: flex;
    justify-content: center;
    width: 25px;
    margin-right: 10px;
    background-color: #e9e9e9;
    border-radius: 6px;
	align-items: center;
	color:#e9e9e9;
}

.container_box_itens_checkbox--checked{
	background-color: #ff115f;
	color:white;
}

.container_box_itens_optionsLabel{
	font-size: 12px;
    font-weight: bold;
}

.container_box_itens_icon{
	margin-right: 5px;
    font-size: 12px;
}

.container_box_itens_decrease{
	height: 31px;
    margin: 0 5% 0 5%;
    display: flex;
    width: 25%;
    position: relative;
	cursor: pointer;
	justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
    border: solid 2px #e9e9e9;
    border-radius: 15px;
}


.container_box_itens_increase{
	height: 31px;
    display: flex;
    width: 25%;
    position: relative;
	cursor: pointer;
	justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
    border: solid 2px #e9e9e9;
    border-radius: 15px;
}

.container_box_itens_input{
	background-color: #e9e9e9;
    width: 70%;
    height: 35px;
    border-radius: 15px;
    border: none;
    padding-left: 30%;
    outline: none;
}

.container_box_itens_input_col1{
	background-color: #e9e9e9;
    height: 35px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    padding-left: 5%;
    outline: none;
    padding-right: 10%;
    width: 85%;
}

.documentColor{
	color: #e9e9e9;
}

.imageConfig{
	width: 44px;
    height: 43px;
    background-size: cover;
    border-radius: 5px;
}

.imageBoxWidth{
	width: 46px;
    position: relative;
}

.topSpace{
	margin-top: 20%;
}

.topSpace--small{
	margin-top: 10%;
}

.topSpace--verySmall{
	margin-top: 5%;
}

.container_item:not(:last-child){
	margin-bottom: 20px;
}

.container_item_label{
	font-size: 14px;
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}


.select_box{
	overflow: hidden;
	position: relative;
}

.select_box:after{
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    position: absolute;
    top: 45%;
    right: 10px;
    content: "";
}

.select_box select{
	border: 0;
    z-index: 99;
    width: 100%;
    height: 40px;
    background-color: #e9e9e9;
    border-radius: 13px;
    padding: 0 3%;
    font-size: 12px;
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	outline: none;
}

.select_box select *
{
	line-height: 2rem;
	height: 30px;
 	background-color:#e9e9e9;
}

.menu{
	position: fixed;
    width: 100%;
    height: 11%;
    background-color: white;
    display: flex;
    bottom: 0;
}


.menu--fake{
    background-color:transparent;
}

.menu_options{
	display: inline-flex;
	width: 100%;
	text-align: center;
}

.menu_options_item{
	width: 33%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.menu_options_item_card{
	-webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
	width: 70px;
    background-color: white;
    height: 130%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu_options_item_card--fake{
	background-color: transparent;
}

.menu_options_label{
	font-size: 10px;
    font-weight: bold;
    margin: 4px 0;
}

.menu_options_icon{
    font-size: 34px;
}

.bottomSpace{
	height: 100px;
}

.modal_content_space{
	position: relative;
	width: 95%;
}

.modal_content_label{
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
    margin-bottom: 5px;
}

.modal_content_label--disabled{
	color: lightgray;
}

.modal_content_item_height{
    height: 35px;
    display: flex;
    align-items: center;
}

.modal_content_item_group{
	position: relative;
	width: 95%;
}

.modal_content_item_group--large{
	position: relative;
}

.modal_content_item:not(:last-child){
	margin-bottom: 10px;
}

.modal_content_item:not(:first-child){
	margin-top: 10px;
}

.modal_content_item--small{
	width: 60%;
    margin: 0 auto;
}

.modal_content_itemSpace{
	height: 20px;
}

.modal_content_space > div:not(:first-child){
	margin-top: 5px;
}

.modal_content_col1{
	width: 34%;
	position: relative;
}

.modal_content_col2{
	width: 33%;
	position: relative;
}

.modal_content_col3{
	width: 33%;
	position: relative;
}

.modal_content_input{
	background-color: #e9e9e9;
    width: 80%;
    height: 35px;
    border-radius: 11px;
    border: none;
    text-align: center;
    outline: none;
    padding-left: 10%;
    padding-right: 10%;
}

.modal_content_input--large{
	background-color: #e9e9e9;
    width: 85%;
	height: 35px;
	outline: none;
    border-radius: 11px;
    border: none;
    padding-left: 3%;
    padding-right: 12%;
}

.textCenter{
	text-align: center;
}

.modal_content_checkbox{
	height: 25px;
    display: flex;
    justify-content: center;
    width: 25px;
    margin-right: 10px;
    background-color: #e9e9e9;
    border-radius: 6px;
	align-items: center;
	color:#e9e9e9;
}

.modal_content_checkbox--checked{
	background-color: #00a543;
	color:white;
}

.modal_scroll{
	overflow-y: auto;
    height: 300px;
}

::-webkit-scrollbar {
	width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #444;
  }

  .tt-open{
	  background-color: #e9e9e9;
	  width: 100%;
  }

  .index_width{
	width: 85%;
	margin: 20% auto 5%;
  }

  .container--index{
	  height: 100%;
  }
